@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-black bg-opacity-40 backdrop-blur-lg border-b border-white border-opacity-10;
  }
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

body {
  @apply bg-darker text-secondary font-sans overflow-x-hidden;
}

h1, h2, h3, h4, h5, .font-serif {
  font-family: 'Playfair Display', serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c4a052;
}
